body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.example {
  max-width: 400px;
  margin: auto;
  border: #666;
  padding: 1rem;
  color: #333;
  text-align: center;
}

.example h2 {
  color: #333;
  font-weight: normal;
}
